*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    background-color: bisque;
    border: 1px solid black;
    opacity: 0.8;
    border-radius: 7px;
}
.mapStrapper{
     background-color: black;
}